/* style.css */

/* Paleta Médica */
:root {
    --color-primary: #3A7BFF;       /* Azul médium */
    --color-background: #F8F9FA;    /* Blanco suave */
    --color-border: #E9ECEF;        /* Gris claro */
    --color-text: #343A40;          /* Gris oscuro */
    --color-success: #28A745;       /* Verde éxito */
    --color-error: #DC3545;         /* Rojo alerta */
}

/* Estilos generales */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container, .selection-container, .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: var(--color-text);
}

input[type="text"], input[type="password"], input[type="number"], select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* Estilos para mensajes de éxito y error */
.success-message {
    color: var(--color-success);
}

.error-message {
    color: var(--color-error);
}